.bg-light{
	background-color: rgba(129, 147, 114, .9) !important;	
}

.navbar-brand{
	color: #FFFFFF !important;
	font-family: 'Bree Serif', serif !important;
	font-size: 1.7rem;
	border: 1px solid #FFFFFF; 
	border-radius: 10px;
	padding: 2px 7px 2px 7px;
	transition: background-color .8s;
}

.navbar-brand:hover{
	background-color: rgba(216, 226, 210, .3);
}

.active .nav-link{
	color: #FFFFFF !important;	
}

.nav-item{	
	font-size: 1.2rem;
	margin:0px 8px 0px 8px !important;
	font-family: 'Cormorant Garamond', serif;	
}

.nav-link{
	transition: color .1s;
	color: #E6E6E6 !important;
}

.nav-link:hover{
	color: #FFFFFF !important;
}

.row{
	background-color: rgba(216, 226, 210, .5);
}

.carousel{	
	margin: auto;
	width: 700px;
	height: 513px;
}



